<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    display: none;
  }
</style>

<body>

  <h2>TR elements define table rows</h2>

  <table style="width:100%">
    <tr>
      <td style="display:none;">Emil</td>
      <td style="display:none;">Tobias</td>
      <td style="display:none;">Linus</td>
      <td style="display:none;">hello</td>
    </tr>
    <tr>
      <td style="display:none;"></td>nice</td>
      <td style="display:none;"></td>chetan</td>
      <td style="display:none;"></td>patil</td>
    </tr>
  </table>

  <p>To understand the example better, we have added borders to the table.</p>

</body>

</html>